name: Deploy DNS
on:
  workflow_run:
    workflows: ["DNS Checks"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: production
    permissions:
      actions: read
      contents: read
    defaults:
      run:
        working-directory: dns
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
      - name: Download plan artifact
        uses: actions/download-artifact@v4
        with:
          name: tfplan-dns
          run-id: ${{ github.event.workflow_run.id }}
          path: dns
      - name: OpenTofu Init
        run: tofu init
      - name: Apply plan
        env:
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          set -euo pipefail
          tofu apply -auto-approve tfplan-dns.binary