name: Deploy DNS
on:
  push:
    branches:
      - main
    paths:
      - 'dns/**'

jobs:
  deploy-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
      - name: OpenTofu Init
        run: |
          cd dns
          tofu init
      - name: OpenTofu Deploy
        run: |
          cd dns
          tofu plan -out=tfplan-dns.binary
      
  # deploy:
  #   uses: ./.github/workflows/tofu.yml
  #   with:
  #     stack: "dns"
  #     action: "deploy"
  #     env: "production"
  #   secrets: inherit