# A reusable workflow to plan a Terraform build
name: Plan a tf build
on:
  workflow_call:
    inputs:
      # Which stack/folder to deploy
      stack:
        required: true
        type: string
      # Which branch to checkout code from
      branch:
        type: string
        default: 'main'
      OS_AUTH_URL:
        required: true
        type: string

jobs:
  plan:
    runs-on: self-hosted
    environment: ${{ inputs.env }}
    defaults:
      run:
        working-directory: ${{ inputs.stack }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch || github.head_pr }}
      - name: Setup Terraform
        uses: opentofu/setup-opentofu@v1
      - name: Terraform Init
        run: tofu init -backend-config="schema_name=${{format('{0}_terraform_remote_state_{1}', env.PREFIX, inputs.stack)}}"
      - name: Terraform Validate
        run: tofu validate
      - name: Terraform Plan
        run: tofu plan -out=tfplan-${{ inputs.stack }}.binary
      - name: Show Terraform Plan
        run: tofu show -no-color tfplan-${{ inputs.stack }}.binary
      - name: Install OpenStack CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-swiftclient
      - name: Upload Plan to OpenStack Object Storage
        run: |
          swift --os-auth-type v3applicationcredential upload tf_state tfplan-${{ inputs.stack }}.binary --object-name ${{ env.PREFIX }}/tfplan-${{ inputs.stack }}.binary
