# A reusable workflow to plan a Terraform build
name: Plan a tf build
on:
  workflow_call:
    inputs:
      # Which stack/folder to deploy
      stack:
        required: true
        type: string
      # Which branch to checkout code from
      branch:
        type: string
        default: 'main'
      action:
        required: true
        type: string
      env:
        required: true
        type: string
      dry_run:
        required: false
        type: boolean
        default: false
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      DIGITALOCEAN_TOKEN:
      

jobs:
  tofu:
    runs-on: self-hosted
    environment: ${{ inputs.env }}
    defaults:
      run:
        working-directory: ${{ inputs.stack }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
      - name: OpenTofu Init
        run: tofu init
      - name: OpenTofu Plan
        run: tofu ${{ inputs.action }} ${{ inputs.action=='fmt' && '-check' || '' }} ${{ inputs.action=='plan' && format('-out=tfplan-{0}.binary', inputs.stack) || '' }}
      - name: Upload tfplan as artifact
        uses: actions/upload-artifact@v5
        if: ${{ inputs.action == 'plan' }}
        with:
          name: tfplan-${{ inputs.stack }}
          path: ${{ inputs.stack }}/tfplan-${{ inputs.stack }}.binary
      - name: Generate human-readable plan
        if: ${{ inputs.action == 'plan' }}
        run: tofu show -no-color tfplan-${{ inputs.stack }}.binary > tfplan-${{ inputs.stack }}.txt
      - name: Upload plan text as artifact
        if: ${{ inputs.action == 'plan' }}
        uses: actions/upload-artifact@v5
        with:
          name: tfplan-${{ inputs.stack }}-text
          path: ${{ inputs.stack }}/tfplan-${{ inputs.stack }}.txt
    env:
      DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
